.asteroid{
    animation: asteroidRotation 8s linear 0s infinite;
}

@keyframes asteroidRotation {
    from{
        transform : rotate(0);
    }
    to{
        transform : rotate(360deg);
    }
}


@keyframes scrollDown{
    0%{
        transform: translateY(0%);
    }
    
    50%{
        transform: translateY(50%);
    }

    100%{
        transform: translateY(0%);
    }
}

@keyframes circle {
  0% {
    transform:rotate(0deg);       
  }
  100% {
    transform: rotate(-360deg);      
  }
  
}