.asteroid{
    animation: asteroidRotation 8s linear 0s infinite;
}

@keyframes asteroidRotation {
    from{
        transform : rotate(0);
    }
    to{
        transform : rotate(360deg);
    }
}


@keyframes scrollDown{
    0%{
        transform: translateY(0%);
    }
    
    50%{
        transform: translateY(50%);
    }

    100%{
        transform: translateY(0%);
    }
}

@keyframes circle {
  0% {
    transform:rotate(0deg);       
  }
  100% {
    transform: rotate(-360deg);      
  }
  
}

@keyframes beam{
    0%{
        opacity: 0;
        stroke-width: 4;
    }

    50%{
        opacity: 30%;
        // transform: scale(0.8)
    }
    
    100%{
        stroke-width: 7;
        transform: scale(0.5);
    }
}

// @keyframes outerbeam{
//     0%{
//         opacity: 0;
//     }

//     50%{
//         opacity: 50%;
//         // transform: scale(0.8)
//     }
    
//     100%{
//         // stroke-width: 7;
//         transform: scale(1.1);
//     }
// }