body{
  background-color: $c-bg;
}

a{
    color: inherit;
}

.planet {

  .stop1{
    stop-color: $c-blue--l;
  }

  .stop2{
    stop-color: $c-blue--d;
  } 

  .stop3{
    stop-color: $c-blue--m;
  }

  .core{
    fill: url(#gradient);
  }

  .shadow{
    fill: url(#shadow);
  }

  .center{
    stop-color: $c-white;
    stop-opacity: 1;
  }

  .edge{
    stop-opacity: 0;
  }

  .beam-stroke{
    fill: none;
    stroke-width: 7;
    stroke: $c-blue--m;
    opacity: 30%;
    
    &--red{
      stroke: $c-red;
    }
  }

  .orbit{
    stroke: $c-blue;

    &--red{
      stroke: $c-red;
    }
  }
}

.section{
    &--what {
      background-color: $c-yellow;
      color: $c-black;
    }

    &--space{
      color: $c-black;

      .planet{
        .core{
          fill: url(#gradient-space);
        }
        .stop1{
          stop-color: $c-sand;
        }

        .stop2{
          stop-color: $c-red--l;
      } 
    }
  }

  &--footer{
    .planet{
      .core{
        fill: $c-red--ft;
      }

      .orbit{
        stroke: $c-red--ft;
      }
    }
  }
}

.cta{

  .planet{
      .stop1{
        stop-color: $c-blue--m;
      }

      .stop2, .stop3{
        stop-color: $c-blue--d;
      } 

      .stop4{
        stop-color: $c-blue--m;
      }
  }
}

.rocket{

  .ship-bg{
    fill: $c-bord;
  }
  
  .ship-fg{
    fill: $c-blue--m;
  }
  
  .ship-ck{
    fill: $c-blue;
  }

  .ship-visor{
    fill: $c-blue--l;
  }

  .beam{
    fill: $c-yellow;
  }

  .beam-line{
    stroke: $c-yellow;
    stroke-width: 7;
  }

  .core{
    fill: url(#gradient--green);
    
    &--red{
      fill: url(#gradient--red);
    }  
  }

  .orbit{
    stroke-dasharray: 20 20;
    stroke-width: 1;
  }

  // &--space{
  //   .beam-stroke{
  //     stroke-width: 120;
  //   }
  // }
}


.list--team{
  .list__el{
    &--gui{
      img{
        background: linear-gradient( 180deg, $c-blue 0%, $c-green 100% );
      }
    }
    &--tom{
      img{
        background: linear-gradient( 180deg, $c-yellow 0%, $c-bord 100% );
      }
    }
    &--cam{
      img{
        background: linear-gradient( 180deg, $c-red 0%, $c-yellow--d 100% );
      }
    }
    &--lud{
      img{
        background: linear-gradient( 180deg, $c-red 0%, $c-purple--d 100% );
      }
    }
    &--eli{
      img{
        background: linear-gradient( 180deg, $c-blue--d 0%, $c-blue--d 100% );
      }
    }
    &--wil{
      img{
        background: linear-gradient( 180deg, $c-yellow 0%, $c-green 100% );
      }
    }
  }
}


.dialogues{
  background-color: $c-white;

  p{
    color: $c-black;
  }
}


.validate_btn{
  color: $c-black;
  background-color: $c-red--l;
}


.gameOver{
  background-color: #FEFEFE25;
}