body{
    font-family: 'Rajdhani', 'Assistant', sans-serif;
    color: $c-white;
    scroll-behavior: smooth;
    // overflow-x: hidden;

}
.overflow-wrapper{
  overflow: hidden;
}
.overflow-hidden{
  overflow: hidden;
}
.title{
  margin: 0;
  padding: 0;
  &--bigger{
    padding: $s-mob--small * 1.5 0 0;

    @include lg{
      padding: $s-tab--small 0 0;

    }

    @include xl{
      padding: $s-desk--small 0 0;
    }
  }

  &--big{
    padding: $s-mob--smaller*2 0 $s-mob--big;
  }

  &--medium{
    padding: $s-mob--big 0 $s-mob--smaller;
  }
}

p{
  padding: 0;
  margin: 0 0 $s-mob--small $s-mob--medium;
  max-width: 260px;

  @include tb{
    max-width: 500px;
  }

  @include lg{
    max-width: 1000px;
}

}

.list{
      padding: 0;
    margin: 0;

    .list__el{
      padding: 0 0 0 $s-mob--medium ;
      margin: 0 0 $s-mob--smaller 0;
      max-width: 260px;


      @include tb{
        max-width: 500px;
      }
      @include lg{
        max-width: 600px;
      }
    }
}


.section--what{
  .title--medium{
    padding: $s-mob--smaller 0 ;
  }
}


.center {
  margin: 0 auto;
  display: block;
}
.hidden {
  display: none;
}
.hud{
  p{
    text-transform: uppercase;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    background-color: $c-white;
    font-size: $s-desk--big;
    padding: $s-desk--smallest/2 0  ;
    display: block;
    max-width: $s-desk--big*2;
    text-align: center;
    cursor: pointer;
    transition: 100ms;
    animation-timing-function: ease-in;
    border-radius: 20px;
    box-shadow: 0 10px #fefefe80;
    user-select: none; 
    -webkit-user-select: none;      
    -moz-user-select: none; 
    -ms-user-select: none;
    margin: 0 auto;
    z-index: 2;
    position: fixed;
    top: 75vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.375em 0.6em;
  }

}
.active {
    background-color: #b4b4b4;
    box-shadow: inset 0 10px #131313a6;
    animation-timing-function: ease-out;
}


// template pour planète de base au cas où un système foire
.planet {

  .stop1{
    stop-color: $c-blue--m;
  }

  .stop2{
    stop-color: $c-blue--d;
  } 

  .stop3{
    stop-color: $c-blue--m;
  }

  .core{
    fill: url(#gradient);
  }

  .center{
    stop-color: $c-white;
    stop-opacity: 1;
  }

  .edge{
    stop-opacity: 0;
  }

  .orbit{
    stroke: $c-blue;
    animation: circle 40s linear infinite;
    transform-origin: center;
    stroke-width: 0.6;
    stroke-dasharray: 5;
    fill: transparent;
    transition: 300ms;

  }
}

// planète pour le bouton "jouer"
.cta{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 320px;
  transition: 300ms;
  animation-timing-function: ease-in;

  @include lg{
    max-width: 600px;
  }

  .planet{
      width: 100%;
      display: inline-block;
  }

  p{
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-55%);
    top: 50%;
  }

  &:hover{
    animation-timing-function: ease-out;
    transform: scale(1.05);

    .planet {
      .orbit{
        animation: circle 20s reverse linear infinite;

      }
    }
  }
}

.section{
  padding: 0 $s-mob--medium;

  @include lg{
    padding: 0 $s-desk--biggest*2;
  }

  &--header{
    height: 100vh;
    position: relative;
  }

  &--main{
    padding: 0;
    position: relative;
    
  }

  &--grav{
    margin-bottom: $s-mob--biggest*4;
  }

  &--team{
    margin-top: $s-mob--biggest*3;
  }

  &--what{
    padding-top: $s-mob--small*2;
    padding-bottom: $s-mob--small*2;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0  95%);

    @include tb{
      padding-top: $s-tab--medium*2;
      padding-bottom: $s-tab--medium*4;
      clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
      
    }

    @include lg{
      padding-top: $s-desk--big*1;
      padding-bottom: $s-desk--big*2;
      clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
      
    }

    @include xl{
      padding-top: $s-desk--medium*2;
      padding-bottom: $s-desk--medium*3;
      clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
      
    }
  }

  &--footer{
    position: relative;
  }

  &--space{
    position: relative;
  }
}


.section{
  &--space{
    .planet{
      width:240%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      max-width: 1000px;
      top: -15%;
      left: -70%;
      z-index: -1;

      .orbit{
        stroke-width: 0.1;
      }

      @include tb{
        width: 154% ;
        left: -32%;
        top: -22%;
        max-width: 1500px;

      }
    }
  }

  &--footer{
    .planet{
      width: 300%;
      position: absolute;
      top: -5%;
      z-index: -1;
      left: -100%;

      .orbit{
        stroke-width: 0.1;
      }

      @include lg{
        width: 240%;
        left: -70%;
      }
    }
  }
}

.btn-scroll{
    background-color: inherit;

    outline: 0px;
    border: inherit;
    transition: 300ms;
    animation-timing-function: ease-in;
    position:absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);

    @include tb{

    }

    @include lg{
      
    }
    
    @include xl{
      
    }

    svg{
        width: 15%;
        max-width: 200px;
        transition: 300ms;
        animation : scrollDown 2s infinite ease-in-out;
        cursor: pointer;

        @include tb{
          width: 20%;
        }

        @include lg{
          width: 30%;
        }
    }
    
    &:hover{
        transform: translateX(-50%) scale3d(1.5, 1.5 ,1.5);
        animation-timing-function: ease-out;
        transition: 200ms;

    }

}




.rocket{
  &--header{
    position: absolute;
    width: 200%;
    left: -110%;
    transform: translateY(-15%);
    pointer-events: none;

    @include tb{
    transform: translateY(-20%);
    width: 100%;
    left: -20%
    }
  }

  &--space{
    pointer-events: none;
    position: relative;
    width: 125%;
    left: -25%;
    top: $s-mob--biggest;

    @include tb{
      width: 120%;
      left: -18%;
      top: $s-tab--bigger;

      
    }
    
    @include lg{
      width: 125%;
      left: -20%;
      top: $s-desk--bigger;

    }
  }
}


