body{
  font-family: 'Rajdhani', 'Assistant', sans-serif;
  color: $c-white;
  scroll-behavior: smooth;
}
.content {
  height: 100vh;
  width: 100vw;
}
.overflow-wrapper{
  overflow: hidden;
}

.title{
  margin: 0;
  padding: 0;
  &--bigger{
    padding: $s-mob--small * 1.5 0 0;

    @include tb{
      padding: $s-tab--smallest / 2 0 0;

      @include medium-h{
      padding: $s-tab--smallest 0 0;

      }
    }

    @include lg{
      padding: $s-desk--smaller/4 0 $s-desk--smaller/4;

      @include small-h{
      padding: $s-desk--smaller/2 0 $s-desk--smallest/2;
      }

      @include medium-h{
      padding: $s-desk--smaller 0 $s-desk--smallest;
      }
    }
  }

  &--big{
    padding: $s-mob--smaller*2 0 0;
    margin-left: $s-mob--medium;

    @include tb{
      padding: $s-tab--small*2 0 0;
      margin-left: $s-tab--medium;
    }

    @include lg{
      padding: $s-desk--smaller*2 0 0;
      margin-left: $s-desk--medium;
    }
  }

  &--medium{
    padding: $s-mob--big 0 $s-mob--smaller;
  }
}

p{
  padding: 0;
  margin: 0 auto $s-mob--small $s-mob--medium;
  max-width: 360px;

  @include tb{
    max-width: 450px;
  }

  @include lg{
    max-width: 650px;
  }
}

.hidden {
  display: none;
}

.active {
    background-color: #b4b4b4;
    box-shadow: inset 0 10px #131313a6;
    animation-timing-function: ease-out;
}

.orbit{
  animation: circle 40s linear infinite;
  transform-origin: center;
  stroke-width: 0.6;
  stroke-dasharray: 5;
  fill: transparent;
  transition: 300ms;
  transform-box: fill-box;

  &--close{
  animation: circle 80s linear infinite;
  }
}

.beam-stroke{
  animation: beam 2s  -1s infinite linear;
  animation-direction: normal;
  transform-origin: center;
  transform: scale(1);
  transform-box: fill-box;
  transition: 300ms;

  &--delay{
      animation-delay: -2s;
  }
}


// planète pour le bouton "jouer"
.cta{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  max-width: $s-mob--biggest*3.5;
  transition: 300ms;
  animation-timing-function: ease-out;
  margin: 5vh auto 0;
  z-index: 1;

 @include small-h{
    max-width: $s-mob--biggest*4;
    margin: 10vh auto 0;
 }

  @include tb{
    max-width: $s-tab--biggest*3.5;

    @include smaller-h{
      margin: 10vh auto 0;
      max-width: $s-tab--biggest*4;
    }
  }

  @include lg{
    margin: 1vh auto 0;
    max-width: $s-desk--biggest*3;

    @include smaller-h{
      margin: 2vh auto 0;
      max-width: $s-desk--biggest*3.5;
    }
      
    @include medium-h{
    margin: 5vh auto 0;
    max-width: $s-desk--biggest*4;
    }

    @include bigger-h{
    margin: 10vh auto 0;
    max-width: $s-desk--biggest*5;
    }
  }

  @include xl{
    margin: 2vh auto 0;
    max-width: $s-desk--biggest*3.5;

    @include medium-h{
    margin: 5vh auto 0;
    }

    @include big-h{
      max-width: $s-desk--biggest*4;
      
    }

    @include bigger-h{
      max-width: $s-desk--biggest*5;
      margin: 8vh auto 0;
    }
  }

  p{
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
  }

  &:hover{
    animation-timing-function: ease-in;
    transform: scale(1.1);

    @include tb{
      max-width: $s-tab--biggest*5;
      transform:scale(1.1);
    }

    @include lg{
      transform:scale(1.1);
      max-width: $s-desk--biggest*4;
    } 

    .planet { 
      .orbit {
        animation: circle 20s reverse linear infinite;
        stroke: $c-white;
      }

      .beam-stroke{
        stroke: $c-white;
      }
    }
  }

  &--footer{
    margin: $s-mob--bigger*2 auto $s-mob--bigger*3;

    @include sm{
      margin: $s-mob--bigger*2 auto $s-mob--bigger*4;
    }

    @include smx{
      margin: $s-mob--bigger*2 auto $s-mob--bigger*4;
    }

    @include tb{
      margin: $s-tab--bigger*2 auto $s-tab--bigger*5;
    }

    @include lg{
      margin: $s-desk--bigger*2 auto $s-desk--bigger*4;
    }

    @include xl{
      margin: $s-desk--bigger*2 auto $s-desk--bigger*5;
    }
  }
}

.btn--scroll{
  background-color: inherit;
  outline: 0px;
  border: inherit;
  transition: 300ms;
  animation-timing-function: ease-in;
  position:absolute;
  bottom: 12vh;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.6;
  z-index: 0;
  display: none;

  @include smaller-h{
    display: inherit;
  }

  @include small-h{
    bottom: 20vh;
  }

  @include tb{
    @include smaller-h{
      display: inherit;
      bottom: 3vh;
    }

    @include medium-h{
      bottom: 7vh;
    }
  }

  @include lg{
    display: none;

    @include big-h{
      display: inherit;
      bottom: 4vh;
    }
  }

  svg{
    width: 18%;
    max-width: 300px;
    transition: 300ms;
    animation : scrollDown 2s infinite ease-in-out;
    cursor: pointer;

    @include tb{
      width: 20%;
    }

    @include lg{
      width: 25%;
    }
  }
  
  &:hover{
    transform: translateX(-50%) scale3d(1.5, 1.5 ,1.5);
    animation-timing-function: ease-out;
    transition: 200ms;
    opacity: 1;
  }
}

.section{
  padding: 0 $s-mob--medium;

  @include sm{
    padding: 0 15%;
  }

  @include smx{
    padding: 0 20%;
  }

  @include xl{
    padding: 0 25%;
  }

  &--header{
    height: 100vh;
    position: relative;
  }

  &--main{
    padding: 0;
    margin: 10vh 0 0 0 ;
    position: relative;
  }

  &--what{
    padding-top: $s-mob--small*2;
    padding-bottom: $s-mob--small*2;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0  95%);

    @include tb{
      padding-top: $s-tab--medium*2;
      padding-bottom: $s-tab--medium*4;
      clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%); 
    }

    @include lg{
      padding-top: $s-desk--big*1;
      padding-bottom: $s-desk--big*2;
      clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
    }

    @include xl{
      padding-top: $s-desk--medium*2;
      padding-bottom: $s-desk--medium*3;
      clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
    }
  }

  &--space{
    position: relative;
    margin: $s-mob--bigger*6 auto $s-mob--bigger*4;

    @include smxx{
      margin: $s-mob--bigger*7 auto $s-mob--bigger*4;
    }

    @include sm{
      margin: $s-mob--bigger*6 auto $s-mob--bigger*4;
    }

    @include smx{
      margin: $s-mob--bigger*6 auto $s-mob--bigger*4;
    }

    @include tb{
      margin: $s-tab--bigger*7 auto $s-tab--bigger*5;
    }

    @include lg{
      margin: $s-desk--bigger*7 auto $s-desk--bigger*5;
    }

    @include xl{
      margin: $s-desk--bigger*8 auto $s-desk--bigger*6;
    }

    @include xxl{
      margin: $s-desk--bigger*9 auto $s-desk--bigger*6;
    }

    .planet{
      width:280%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center;
      z-index: -1;

      .orbit{
        stroke-width: 0.1;
      }
      @include smxx {
        width:227%;
        max-width: 800px;
      }
      @include sm {
        width:180%;
      }

      @include smx {
        width:140%; 
      }

      @include tb {
        width:120%;
      }

      @include tbx {
        width:100%;
        max-width: 1000px;
      }

      @include lg {
        width:120%; 
        max-width: 1200px;
      }

      @include lgx{ 
        width: 110%;
      }

      @include xl {
        width:100%;
        max-width: 1300px;
        transform: translate(-54%, -50%);
      } 

      @include xxl{
        max-width: 1400px;
        transform: translate(-58%, -50%);

      }
    }
  }

  &--team {   
    .list--team {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding: 0;
      margin-top: $s-mob--big;

      @include sm{
        margin-top: $s-tab--bigger;
      }

      @include lg{
        margin-top: $s-desk--bigger;
      }

      .list__el {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 $s-mob--small $s-mob--bigger;
        

        @include sm{
          max-width: 100%;
          margin: 0 $s-mob--smallest $s-mob--bigger;
        }

        @include tb{
          margin: 0 0 $s-tab--big*3;
        }

        @include lg{
          margin: 0 0 $s-desk--big*2;
        }

        a {
          text-decoration: none;
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: space-around;
          cursor: inherit;

          .title--small {
            width: 35%;
            cursor: pointer;
            transition: 200ms;
            animation-timing-function: ease-in;
            animation-delay: 0.2s;
          }

          .planet-container{
            cursor: pointer;
            border-radius: 100%;
            width: 40%;
            height: 40%;
            max-width: 550px;
            position: relative;          
            transition: 200ms;
            animation-timing-function: ease-out;
      
            &:hover{
              transform: scale(1.05);
      
              .planet{
                .orbit {
                  stroke: $c-white;
                  stroke-opacity: 0.7;
                }
      
                .beam-stroke{
                  stroke: $c-white;
                }
              }
            }
            
            .planet{
              position: absolute;
              width: 100%;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%) scale(1.5);
              z-index: -1;
              transition: 200ms;
              animation-timing-function: ease-in;
      
              .orbit{
                stroke-width: 0.5;
                stroke-dasharray: 100 20;
              }
            }
             
            img{
              width: 100%;
              border-radius: 100%;
              z-index: 1;
            }
          }
        }

        &:nth-child(even) {
          align-self: flex-end; 
          
          a{
            text-align: right;
            &:hover .title--small{
                animation-timing-function: ease-in-out;
                transition: 600ms;
                animation-delay: 100ms;
                transform: translateX(-15%);
            }
          }
        }
        
        &:nth-child(odd) {
          align-self: flex-start;

          a{
            flex-direction: row-reverse; 
            text-align: left;
            &:hover .title--small{
                animation-timing-function: ease-in-out;
                transition: 600ms;
                animation-delay: 100ms;
                transform: translateX(15%);
            }
          }
        }
      }
  }
}

  &--footer{
    position: relative;
    margin-bottom: $s-mob--big;
    
    @include sm{
      padding: 0 20%;
    }
  
    @include tbx{
      padding: 0 10%;
    }
  
    @include tb{
      justify-content: space-between;      
      margin-bottom: $s-tab--bigger;

      .title--medium__padding {
        padding:0;
      }
    }

    @include tbx{
      display: flex;

    }

    @include lg{
      margin-bottom: $s-desk--bigger;
      display: flex;

      .title--medium__padding {
        padding:0;
      }
    }

    @include xl{
      padding: 0 15%;
      margin-bottom: $s-desk--bigger*2;
      display: flex;

      .title--medium__padding {
        padding:0;
      }
    }

    .list{
      padding: 0;
      margin: 0;
  
      .list__el{
        padding: 0 0 0 $s-mob--medium ;
        margin: 0 0 $s-mob--smaller 0;
        max-width: 260px;
  
        @include tb{
          max-width: 400px;
        }
        @include lg{
          max-width: 650px;
        }
      }
    }

    a{
      transition: 200ms;
      animation-timing-function: ease-in;
      box-shadow: inset 0 0 0 0 $c-white;
      animation-delay: 0.2s;
      &:hover{
        color: $c-red--ft;
        box-shadow: inset 0 -100px 0 0 $c-white;
        animation-timing-function: ease-in-out;
        transition: 300ms;
        animation-delay: 0ms;
      }
    }

    .planet{
      width:300%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -44%);
      transform-origin: center;
      z-index: -1;

      .orbit{
        stroke-width: 0.1;
      }

      @include smxx {
        transform: translate(-50%, -38%);
      }

      @include sm {
        transform: translate(-50%, -35%);
      }

      @include smx {
        transform: translate(-50%, -25%);  
      }


      @include tb {
        transform: translate(-50%, -25%); 
      }

      @include tbx {
        transform: translate(-50%, -16%);
      }
      
      @include lg {
        transform: translate(-50%, -20%);
      }

      @include lgx{
        transform: translate(-50%, -17%);
      }

      @include xl {
        transform: translate(-50%, -15%);
      }

      @include xxl{
        transform: translate(-50%, -12.5%);
        width: 350%;
      }
    }
  }
}

.rocket{
  &--header{
    position: absolute;
    width: 100%;
    left: -20%;
    transform: translateX(-15%) scale(1.5);
    pointer-events: none;
    max-width: 500px;

      @include smx{
        transform: translateY(0) scale(1.5) translateX(-5%);
      }

      @include tb{
        transform: translateY(0%) scale(1.5) translateX(25%);
      }

      @include tbx{
        transform: translateY(5%) scale(1.7) translateX(40%);
      }

      @include lg{
        transform: translateY(5%) scale(1.9) translateX(40%);
      }

      @include lgx{
        transform: translateY(10%) scale(1.9) translateX(45%);
      } 

      @include xl{
        transform: scale(2.2) translateX(50%);
      }

      @include xxl{
        transform: scale(2.8) translateX(50%);
    }
  }

  &--space{
    pointer-events: none;
    position: relative;
    width: 100%;
    left: -10%;
    top: $s-mob--biggest;
    transform: scale(1.5);
    max-width: 1500px;

    @include tb{
      top: $s-tab--bigger*1.5;
      left: -15%;
    }
    
    @include lg{
      top: $s-desk--bigger*1.5;
      left: -10%;
      max-width: 1250px;
    }

    @include xl{
      transform: scale(1.8);
      left: -15%;
    } 
  }
}



.btn--validate{
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 7px 14px;

  cursor: pointer;
  transition: 300ms cubic-bezier(0.25, 0.89, 0.48, 0.97);
  box-shadow: inset 0px 0 0.001px $c-blue--m, 0 5px $c-red--d;
  display: block;
  margin: auto $s-mob--small*2 $s-mob--small auto;
  text-transform: uppercase;

  &:hover{
    transform: translateY(5px);
    transition: 0ms ease-in;
    color: $c-white;
    box-shadow: inset 100px 0 $c-blue--m, 0 -5px $c-blue--d;
  }

  @include tb{
    margin: auto $s-tab--medium $s-tab--small auto;
  }

  @include lg{
    margin: auto $s-desk--medium $s-desk--smaller auto;
    padding: 10px 20px 10px 20px;

    &:hover{
      transition: 300ms cubic-bezier(0.25, 0.89, 0.48, 0.97);
      transform: translateY(0px);
      color: $c-white;
      box-shadow: inset 100px 0 $c-blue--m, 0 5px $c-blue--d;
    }
    
    &:active{
      transform: translateY(5px);
      transition: 0ms ease-in;
      color: $c-white;
  
      box-shadow: inset 100px 0 $c-blue--m, 0 -5px $c-blue--d;
    }
  }
}

.gameOver{
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 400ms cubic-bezier(0.25, 0.89, 0.48, 0.97);
  
  strong{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-250%);
    margin: 0;
  }

  &--show{
    opacity: 1;
  }
}

.hud{
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;

  &--dial-open{
    background-color: #fefefe13;
    filter: blur(0);
  }


  .dialogues-container{
    max-width: 400px;
    position: fixed;
    width: 100%;
    bottom: 0;

    img{
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
      position: relative;
      top: 20px;

      @include lg{
        max-width: 300px;
        top: 25px;
      }
    }

    @include sm{
      transform: translateX(-50%);
      left: 50%;
    }

    @include tb{
      max-width: 550px;
      bottom: 5%;
    }
  
    @include lg{
      max-width: 800px;
      
      bottom: 5%;
    }

    @include xl{
    }
    &--hide{
      opacity: 0;
      pointer-events: none;
      // display : none;
    }
  }
}

.dialogues{
  display: block;
  margin: 0 auto;
  border: 5px solid $c-red;
  border-radius: 25px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  p {
    color: $c-black;
    margin:  $s-mob--small;
    max-width: initial;

    @include tb{
      margin: $s-tab--small;
      max-width: initial;

    }

    @include lg{
      margin: $s-desk--small;
      max-width: initial;
    }
  }
}


.btn--pause{
  display: block;
  position: fixed;
  left: auto;
  right: 18px;
  // la taille ici est en pixel car la valeur en EM dépend de la taille de la fonte, et la fonte-size = 0.
  background-color: initial;
  border: none;
  background-image: url(../../assets/gravity/pause.svg);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
  text-indent: 100%;
  white-space: nowrap;
  width: 36px;
  height: 36px;
  overflow: hidden;
  top: 50px;
  transition: 300ms ease-out;
  cursor: pointer;
  outline: inherit;

  @include sm{
    right: 28px;
    width: 36px;
    height: 36px;
  }

  @include tb{
    right: 31px;
    width: 48px;
    height: 48px;
  }

  @include lg{
    right: 50px;
    width: 67px;
    height: 67px;
  }
  &:hover{
    transform: scale(1.2);
  }

  &:active{
    transform: scale(1.3);

  }

  &-resume{
    background-image: url(../../assets/gravity/play.svg);

  }
}


.canvas{
  &--dial-open{
      filter: blur(2px);
    pointer-events: none;

  }
}

.background{
  &--dial-open{
    filter: blur(2px);

  }
}