.game-gravity {
  background-color: #13162F;
  width:100vw;
  height: 100vh;
}
.center {
  margin: 0 auto;
  display: block;
}
.space-bar {
  position: absolute;
  left:50%;
  margin-left:-160px;
  bottom:50px;
}

.mercure {
  position: absolute;
  top: 5em;
  left: 40%;
}