.list{
    list-style-type:  none;

    .list__el{
        &::before{
            content: "– \00a0" ;
            display: inline-block;
            font-size: $s-mob--smaller;
        
            @include tb{
                font-size: $s-tab--small;
            }

            @include lg{
                font-size: $s-desk--small;
        
            }           
        }
    }
}

