$c-bg : #13162F;
$c-black : #1B1B1B;
$c-white: #FEFEFE;
$c-red: #EB4747;
$c-red--d: #8A3333;
$c-green: #76C270;
$c-green--d: #395B50;
$c-blue: #409ABF;
$c-blue--d: #302F6C;
$c-yellow: #FFD464;
$c-yellow--d: #E0C452;
$c-pink: #F07595;
$c-pink--d: #AB2346; 
$c-fushia: #E0859E;
$c-fushia--d: #AB4E68;
$c-purple: #8390FA;
$c-purple--m: #8367C7;
$c-purple--d: #512e79;

$c-sand : #DCDAD3;
$c-blue--l: #C1F6F3;
$c-blue--m: #255A8B;
 
$s-mob--biggest: 3.653em;
$s-mob--bigger: 2.887em;
$s-mob--big: 2.281em;
$s-mob--medium: 1.802em;
$s-mob--small: 1.125em;
$s-mob--smaller: 1em;
$s-mob--smallest: 0.79em;

$s-tab--biggest: 3.815em;
$s-tab--bigger: 3.052em;
$s-tab--big: 2.441em;
$s-tab--medium: 1.953em;
$s-tab--small: 1.25em;
$s-tab--smaller: 1em;
$s-tab--smallest: 0.8em;

$s-desk--biggest: 5.61em;
$s-desk--bigger: 4.209em;
$s-desk--big: 3.157em;
$s-desk--medium: 2.369em; 
$s-desk--small: 1.33em;
$s-desk--smaller: 1em;
$s-desk--smallest: 0.75em;
  

$screen-sm: 425px;
/*
- titre et p de section space centré (margin-left margin right auto)
- section--space .planet width:180%
*/

$screen-smx: 550px;
/*
- titre--medium : margin-left:58px;
- section--space .planet width:160%
*/

$screen-tb: 700px;
/*
- titre--medium : margin-left:29px;
- section--space .planet width:170%
*/

$screen-tbx: 900px;
/*
- titre--medium : margin-left:58px;
- section--space .planet width:150%
*/

$screen-lg: 1000px;
/*
- titre--medium : margin-left: -29px
- section--space .planet width:140%
*/


$screen-xl: 1400px;
/*
- titre--medium : margin-left: -58px
- section--space .planet width:130%
*/



$screen-xxl: 1900px;