$c-bg : #13162F;
$c-black : #1B1B1B;
$c-white: #FEFEFE;
$c-red: #EB4747;
$c-red--d: #AD1F1F;
$c-green: #76C270;
$c-green--d: #395B50;
$c-blue: #409ABF;
$c-blue--d: #2E596B;
$c-yellow: #F7DD72;
$c-yellow--d: #E0C452;
$c-pink: #F07595;
$c-pink--d: #AB2346;
$c-fushia: #E0859E;
$c-fushia--d: #AB4E68;
$c-purple: #8390FA;
$c-purple--d: #8367C7;

$s-mob--biggest: 3.653em;
$s-mob--bigger: 2.887em;
$s-mob--big: 2.281em;
$s-mob--medium: 1.802em;
$s-mob--small: 1.125em;
$s-mob--smaller: 1em;
$s-mob--smallest: 0.79em;

$s-tab--biggest: 3.815em;
$s-tab--bigger: 3.052em;
$s-tab--big: 2.441em;
$s-tab--medium: 1.953em;
$s-tab--small: 1.25em;
$s-tab--smaller: 1em;
$s-tab--smallest: 0.8em;

$s-desk--biggest: 5.61em;
$s-desk--bigger: 4.209em;
$s-desk--big: 3.157em;
$s-desk--medium: 2.396em; 
$s-desk--small: 1.33em;
$s-desk--smaller: 1em;
$s-desk--smallest: 0.75em;
  